.message-form-preview-image {
    width: 40px;
    height: 40px;
}

.message-form-icons {
    display: flex;
    // width: 25rem;
    width: 100%;
    // border: red solid 1px;
}

.message-form-preview {
    // border: gray 1px solid;
}