// colors
$brainFlix-Black: #323232;
$brainFlix-DarkBlack: #000000;
$silver: #AFAFAF;
$white: #ffffff;
$mercury: #E1E1E1;
$albaster: #FAFAFA;
$brainFlix-blue: #0095FF;
$brainFlix-DarkBlue: #0065AD;

// screen sizes
$small-screen: 600px;
$medium-screen: 900px;
// $tablet-width: 768px;
// $desktop-width: 1280px;

